<h3><b>Introduction to Data Analytics - Exercise set 5 - data processing and management</b></h3>

Put all your exercises (Jupyter Notebooks or Python-files) in your course Git-project.
Use either code comments or Jupyter Notebook markdown (text) to document which exercise you are doing and what a certain code section does! 
You can return all of these exercises in a single Jupyter Notebook, if you wish.

<p style="color: red;"><b>NOTE: The JSON/XML –files in Moodle in these exercises have been randomly generated. In other words, the data doesn't make any sense!</b></p>

In [1]:
# you can import numpy and pandas here etc.

import pandas as pd
import numpy as np
import seaborn as sns
import json
import requests
from pandas import json_normalize
from bs4 import BeautifulSoup

file_path_coffee = 'coffee_sales.csv'
df_coffee_sales = pd.read_csv(file_path_coffee)

file_path_temperature_fixed = 'temperatures_fixed.csv'
df_temperature_fixed = pd.read_csv(file_path_temperature_fixed)

file_path_temperature_unfixed = 'temperatures_unfixed.csv'
df_temperature_unfixed = pd.read_csv(file_path_temperature_unfixed)

<h4><b>1. </b>Download <b>"simple.json"</b> in Moodle, and load it in pandas.</b> </h4>
<p>
The DataFrame should look like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex51.png" width="1000"/>

In [2]:
# code here

df_simple_json = pd.read_json('simple.json')
df_simple_json.head()

,id,brand,model,year,owned_by,acquired,price
0,1,Chrysler,Voyager,2001,Wolff-Trantow,28/12/2016,11565
1,2,Volkswagen,Jetta,1995,"Schuppe, Pfeffer and Klein",20/4/2016,52431
2,3,Porsche,Cayenne,2005,Mante Group,11/6/2020,75552
3,4,Porsche,928,1994,Wisozk Group,17/6/2019,30331
4,5,Mercedes-Benz,SL-Class,2007,Schiller-Littel,20/7/2018,62385

<h4><b>2.</b> Download <b>"simple.xml"</b> in Moodle, and load it in pandas</h4>
<p>
<span style="color: red"><b>(Note:</b> if using pandas.read_xml(), use also the xpath-parameter!)</span><br /><br >The Series should look something like this:
</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52.png" />

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex52cars.jpg" width="600" />

In [3]:
# code here

df_simple_xml = pd.read_xml('simple.xml', xpath="/*")
df_simple_xml

   id       brand   model  year                    owned_by    acquired  price
0   1  Oldsmobile  Aurora  2003  Herzog, Rodriguez and Howe  21/10/2016  32571

<h4><b>3. Load this API-data into a pandas DataFrame:</b></h4>
<p><a href="https://edu.frostbit.fi/api/events">https://edu.frostbit.fi/api/events</a></p>

<p>
Remember to use json_normalize to help you out with the categories and address information.<br /><b>Have address information in their own columns, and categories as separate rows.</b><br />The DataFrame should look something like this (note that the data changes daily, and exact values will vary):


</p>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53.png"/>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex53events.jpg" width="600" />

In [4]:
# code here

url = "https://edu.frostbit.fi/api/events"
response = requests.get(url)
data = response.json()

df = json_normalize(data)
df = df.explode('categories')

if 'address' in df.columns:
    address_columns = ['address.street_address', 'address.postal_code']
    df[address_columns] = df['address'].apply(pd.Series)
    df.drop(columns=['address'], inplace=True)

df

,name,date,categories,address.street_address,address.postal_code
0,Taapero tiistai,14.5.2024,kuvataide,Agnetankuja 4,00810
0,Taapero tiistai,14.5.2024,leikkiminen,Agnetankuja 4,00810
0,Taapero tiistai,14.5.2024,osallistuminen,Agnetankuja 4,00810
1,Espoon kirjastojen Ympäristökevät,10.4.2024,NaN,Siltakatu 11,02770
2,Liikuntaleikit,27.5.2024,leikkiminen,Agnetankuja 4,00810
2,Liikuntaleikit,27.5.2024,liikunta,Agnetankuja 4,00810
2,Liikuntaleikit,27.5.2024,ulkoilu,Agnetankuja 4,00810
2,Liikuntaleikit,27.5.2024,urheilu,Agnetankuja 4,00810
3,Musa-aamu,16.5.2024,leikkiminen,Agnetankuja 4,00810
3,Musa-aamu,16.5.2024,musiikki,Agnetankuja 4,00810
4,Etsintäpartio,10.4.2024,leikkiminen,Agnetankuja 4,00810
4,Etsintäpartio,10.4.2024,liikunta,Agnetankuja 4,00810
4,Etsintäpartio,10.4.2024,osallistuminen,Agnetankuja 4,00810
4,Etsintäpartio,10.4.2024,ulkoilu,Agnetankuja 4,00810
4,Etsintäpartio,10.4.2024,urheilu,Agnetankuja 4,00810
5,Taaperoiden liikuntarata,12.4.2024,leikkiminen,Agnetankuja 4,00810
5,Taaperoiden liikuntarata,12.4.2024,liikunta,Agnetankuja 4,00810
5,Taaperoiden liikuntarata,12.4.2024,osallistuminen,Agnetankuja 4,00810
5,Taaperoiden liikuntarata,12.4.2024,urheilu,Agnetankuja 4,00810
6,Tapiolan Vapun avaus,30.4.2024,kirjastot,Tapiontori 1,None
6,Tapiolan Vapun avaus,30.4.2024,kulttuuritapahtumat,Tapiontori 1,None
6,Tapiolan Vapun avaus,30.4.2024,musiikki,Tapiontori 1,None
6,Tapiolan Vapun avaus,30.4.2024,pohjois-tapiola,Tapiontori 1,None
6,Tapiolan Vapun avaus,30.4.2024,tapiola,Tapiontori 1,None
7,Roskaton Helsinki -tapaaminen nuorille,20.4.2024,kuvataide,Klaneettitie 5,00420
7,Roskaton Helsinki -tapaaminen nuorille,20.4.2024,osallistuminen,Klaneettitie 5,00420
8,Yhteislaulua Furahakörenin kanssa,29.4.2024,konsertit,Topeliuksenkatu 6,00250
8,Yhteislaulua Furahakörenin kanssa,29.4.2024,musiikki,Topeliuksenkatu 6,00250

<h4><b>4. Use web scraping (e.g. BeautifulSoup), and use it to get the following info from the Rovaniemi Wikipedia –page</b></h4>
<p><b>Wiki-page:</b> <a href="https://en.wikipedia.org/wiki/Rovaniemi">https://en.wikipedia.org/wiki/Rovaniemi</a></p>

<b>Tasks:</b>
<ul>
    <li>Get the coordinates of Rovaniemi (upper right corner)</li>
    <li>Get the nickname of Rovaniemi (under coat of arms)</li>
</ul>

<b>Advanced extra tasks:</b>
<ul>
    <li><b>Get the total population</b></li>
    <ul>
        <li><b>Note:</b> this is a good example why webscraping can be tedious, since you'll have to traverse the HTML-tree to get what you want. This might be helpful:<br />
<a href="https://realpython.com/beautiful-soup-web-scraper-python/">https://realpython.com/beautiful-soup-web-scraper-python/</a></li>
    </ul>
    
</ul>

<ul>
    <li><b>Get the total area</b></li>
    <ul>
        <li>Convert this number into a float decimal (i.e. remove commas and the unit and call float() –in Python!)</li>
    </ul>
    
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex54rovaniemi.jpg" width="600" />

In [5]:
# code here

url = "https://en.wikipedia.org/wiki/Rovaniemi"

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, "html.parser")

# The coordinates of Rovaniemi (upper right corner)
coordinates = soup.find("span", class_="geo-dec").text.strip()
print("Coordinates of Rovaniemi:", coordinates)

# The nickname of Rovaniemi
nickname_div = soup.find("div", class_="ib-settlement-nickname")
nickname = nickname_div.text.strip() if nickname_div else "Nickname not found"
print("Nickname of Rovaniemi:", nickname)

Coordinates of Rovaniemi: 66.500°N 25.733°E
Nickname of Rovaniemi: Arctic Capital; Hometown of Santa Claus

<h4><b>5. Use web scraping, and create a DataFrame of this table: </b></h4>
<p> <a href="https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature">https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature</a></p>

<ul>
    <li>Change the name of the value column to "avg_temp" as well (pandas column rename)</li>
</ul>

<b>Advanced extra task:</b>
<ul>
    <li><b>Scrape these two tables as well</b></li>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_employment_rate</a></li>
        <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate">https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate</a></li>
    </ul>
    <br />
    <ul>
        <li><b>Combine the tables into a single DataFrame so that you get only the data of year 2020 or newer, and have the columns <span style="color: darkorange">"Country", "EmploymentRate"</span> and <span style="color: darkorange">"UnemploymentRate"</span>. You can also create additional columns <span style="color: red">"EmploymentRate15_24"</span>and <span style="color: red">" EmploymentRate25_70"</span> if you scrape the OECD-table as well! </b>

</li>
    </ul>
</ul>

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex55stocks.jpg" width="450" />

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature"

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, "html.parser")

table = soup.find("table", class_="wikitable")

temperature = pd.read_html(str(table))[0]

temperature.rename(columns={"Temperature (°C)": "avg_temp"}, inplace=True)

print(temperature.head())

        Country             avg_temp
0  Burkina Faso  28.29 °C (82.92 °F)
1          Mali  28.25 °C (82.85 °F)
2      Kiribati  28.20 °C (82.76 °F)
3      Djibouti  28.00 °C (82.40 °F)
4      Maldives  28.00 °C (82.40 °F)

/var/folders/l9/x0255jx977jgl0hnb9tcnzr80000gp/T/ipykernel_92538/3592398202.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temperature = pd.read_html(str(table))[0]

<h4><b>6. Simple merging:</b> Download <u><b>coffee_sales.csv</b></u> and <b><u>temperatures_fixed.csv</u></b> from Moodle.<b></h4>
<p>Use merging to combine these files into one DataFrame, containing the coffee sales data and the corresponding temperature –data. (merge(), see materials for examples)</p>

<span style="color: red;"><b>Use left join, and coffee sales as the first DataFrame!</b></span>

In [7]:
# code here

merged_df = pd.merge(df_coffee_sales, df_temperature_fixed, on="Date", how="left")
print(merged_df.head())

        Date  Sales  Target_sales  Total_expenses  Temperature (C)
0  1.10.2012    122            90              76        19.822917
1  1.10.2012    123            90              45        19.822917
2  2.10.2012    107            90              36        19.020602
3  3.10.2012     94           100              21        15.820139
4  4.10.2012    182            80              54        15.110648

<b>Extra task: </b> Do the same but with <b>temperatures_unfixed.csv</b> instead. Remember <b>groupby()</b> before attempting merging! 

<b>Also, you might want to remove some of the columns before grouping data => <span style="color: red;">Summary + Hour</span>. </b>

<span><i>You can also try to merge the DataFrames so that the Summary –of the weather is also added. For this, you probably need to figure out first how to determine the "average" Summary for each day (extra challenge!).</i></span>

In [8]:
# extra task code here, if done

df_temperature_unfixed.drop(columns=["Summary", "Hour"], inplace=True)

average_temp = df_temperature_unfixed.groupby("Date").mean().reset_index()
merged_df = pd.merge(df_coffee_sales, average_temp, on="Date", how="left")

print(merged_df.head())

        Date  Sales  Target_sales  Total_expenses  Temperature (C)
0  1.10.2012    122            90              76        19.822917
1  1.10.2012    123            90              45        19.822917
2  2.10.2012    107            90              36        19.020602
3  3.10.2012     94           100              21        15.820139
4  4.10.2012    182            80              54        15.110648

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex56coffee.jpg" width="450" />


<h2><b>Advanced extra tasks for extra points (varying challenges, some require Googling):</b></h2>

<ul>
<li><b>1. Download the "complex.json" –file from Moodle.</b> Note that this data is fairly complex (i.e. heavily nested). Use json_normalize and other needed methods to convert this data into a workable DataFrame.</li>
</ul>

In [9]:
# code for the advanced extra task

with open("complex.json", "r") as file:
    data = json.load(file)

df = pd.json_normalize(data)
df.fillna(0, inplace=True)

df.rename(columns={"ownership.company": "company"}, inplace=True)
df.rename(columns={"ownership.acquired": "acquired"}, inplace=True)
df.rename(columns={"ownership.payment_info.credit_card": "payment (credit card)"}, inplace=True)
df.rename(columns={"ownership.payment_info.iban": "payment (iban)"}, inplace=True)

print(df.head())

   id      brand          model  year  price                     company  \
0   1       Ford           F250  1997  72213              Johns and Sons
1   2      Dodge  Grand Caravan  1999  42370    Crist, Hyatt and Leannon
2   3       Audi             A5  2011  19191              Bosco and Sons
3   4    Hyundai       Veracruz  2012  21956                   Haley Inc
4   5  Chevrolet    TrailBlazer  2009  53066  Zulauf, Nolan and Franecki

     acquired payment (credit card)                      payment (iban)
0  24/10/2017                   jcb       SA47 315V KYTA 8FVT NCGN MM7G
1    7/6/2020          instapayment   FR74 8157 1767 53I2 VRAN ZMIB U11
2  23/11/2018                   jcb  LB32 4989 VCVZ S5BZ X2CT JKG3 QRAW
3    5/6/2016              bankcard                 BE62 4961 0596 5774
4   14/1/2021                   jcb   FR11 1768 5506 10IU QVPN XU2H O88

<ul>
<li><b>2. Load the "simple.json" –file without pandas, and try to get the average price with plain Python. </li>
</ul>

In [10]:
# code for the advanced extra task

with open("simple.json", "r") as file:
    data = json.load(file)

prices = [item["price"] for item in data]
average_price = sum(prices) / len(prices)

print("Average price:", average_price)

Average price: 42373.86

<ul>
<li><b>3. Download the "complex.xml" file from Moodle, and create a DataFrame out of it.</b></li>
<ul>
    <li><b>Note:</b> using pandas.read_xml() would otherwise work, but it ignores the "ownership" –field. You'll have to find another way to get this data into your DataFrame as well!</li>
</ul>
</ul>

In [11]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<ul>
    <li><b>4. Try out Selenium on a site that cannot be scraped with traditional methods. You can use this tutorial as the starting point:</b></li>
    <ul>
        <li><a href="https://www.toptal.com/python/web-scraping-with-python">https://www.toptal.com/python/web-scraping-with-python</a></li>
    </ul>
</ul>

In [12]:
# code for the advanced extra task, you can also create a separate notebook for this 
# (might be a better idea, since a new dataset always adds quite much new code)

<img src="http://srv.plab.fi/~tuomasv/data_analytics_2023_images/exercise_set_5/ex5charts.jpg" width="600" />

<b>5. Extra challenging advanced task: <span style="color: red;">integrating data sources</span></b>

<ul>
<li><b>Integrate two or more datasets into one matching dataset  (pandas DataFrame), but use any datasets you can find in Kaggle instead of the previous coffee sales + temperature -datasets</b></li>
<br />
<ul>
<li>Find two or more datasets (Kaggle etc.) that have something in common and can be used for merging. </li>
</ul>

<br />
<ul>
<li><b>Typical common columns:</b></li>
<ul>
<li>Coordinates (lat/lng etc.)</li>
<li>Years, months</li>
<li>reference ids (e.g. product id -> product data)</li>
</ul>
</ul>

<br />
<ul>
<li><b>You can use pandas.merge() in order to combine DataFrames</b></li>
<ul>
<li>When combining DataFrames, make sure that the merge doesn’t mess up your data</li>
<li><b>Note:</b> merge can often create way too many extra rows depending on the merging parameters</li>

</ul>
</ul>

<br />
<ul>
<li><b>This exercise can provide even large amounts of points, depending on difficulty. Aspects that affect grading:</b></li>
<ul>
<li>Amount of datasets</li>
<li>Difficulty of the datasets</li>
<li>Using different data formats all at once (XML, JSON, CSV etc.)</li>
<li>Other techniques used to add data: web scraping, data APIs etc.</li>
</ul>
</ul>


</ul>

In [13]:
# this exercise is probably better to do in a separate Jupyter notebook